@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.land-top-section{
    background-color: black;
    height: 50px;
    width: 100%;
}
.land-background{
    background-image: url("https://gregmolyneuxphotography.com/wp-content/uploads/2020/07/of-land.jpg");
    background-size: cover;
    height: fit-content;
    
}
.login-style{
    color: white;
    font-family: "Bree Serif";
}
.login-info{
    margin-left: 8px;
    margin-right: 48px;
    font-size: 15px;
    text-align: center;
}
.button-style{
    color: white;
    border-radius: 5px;
}
.button-style:hover{
    background-color: white;
    color: black;
    border-style: solid;
    border-radius: 11px;
    

}
.card-background{
    background-color: rgb(214, 214, 214);
    margin: 25px;
    width: fit-content;
    height:fit-content;
    border-radius: 7px;
}
.indv-heading{
    font-size: large;
    background-color: rgb(211, 211, 211);
    color: black;
    padding: 15px;
    margin: 15px;
    border-color: transparent;
    border-style: solid;
    border-radius: 15px;
    width: 150px;
    text-align: center;
}
.indv-heading:hover{
    color: white;
    background-color: black;
    box-shadow: 0 5px 15px rgba(21, 90, 71, 0.257);
}
.card-background2{
    background-color: rgb(214, 214, 214);
    margin-top: 25px;
    width: 100%;
    border-radius: 10px;
    padding: 0px;
    font-family: monospace;
}
.img-style2{
    width: 20em;
    height: 275px;
    border-radius: 10PX 0PX 0PX 10PX;
}
.card-background3{
    padding: 25px;
}
.padding-content{
    padding: 25px;
}


.landHead{
    color: white;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;   
    font-size: 3rem;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0px 11px 3px 10px;
    width: 100%;    
    
    
}

p{
    font-size: 20px;
}

.btn2{
    color: aliceblue;
    align-items: center;
    margin-top: 12px;
    margin-left: 50%;
    border: solid 4px white;
    width: fit-content;
    padding: 12px; 
    border-radius: 15px; 
    text-shadow: 12px aqua;
}

.btn2:hover{
    background-color: rgb(17, 3, 97);
    color: black;
}
